<%- include ('../partials/header')%>

<!--<p>Api documentation is <a href="https://documenter.getpostman.com/view/10955476/TVYPztdw">here</a></p>-->

    <ul>
        <% categories.forEach(category => { %>
            <li><a href="/categories/<%= category._id %>"><%= category.name %></a>
                <form action="/categories/<%= category._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
<%- include ('../partials/footer')%>
