<%- include ('../partials/header')%>

<form action="/products/<%= product._id%>?_method=PUT" method="POST">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="product[name]" id="name" placeholder="Enter product name" value="<%= product.name %>">
    </div>
    <div class="field">
        <label for="description">Description</label>
        <input type="text" name="product[description]" id="description" placeholder="Enter description" value="<%= product.description %>">
    </div>
    <div class="field">
        <label for="description">Image</label>
        <input type="text" name="product[image]" id="image" placeholder="Enter image" value="<%= product.image %>">
    </div>
    <div class="field">
        <label for="description">Price</label>
        <input type="text" name="product[price]" id="price" placeholder="Enter price" value="<%= product.price %>">
    </div>
    <div class="field">
        <label for="description">Category</label>
<!--        <input type="text" name="product[description]" id="description" placeholder="Enter description" value="<%= product.description %>">-->
        <select name="product[category]">
            <% categories.forEach(category => {%>
            <%# let catName = category.name, catId = category._id;%>
                <option value="<%= category._id %>"><%= category.name %></option>
            <% })%>
        </select>
    </div>

    <div class="field">
        <input type="submit" value="Submit">
    </div>
</form>


<%- include ('../partials/footer')%>
